# Python / Django
venv/
__pycache__/
*.py[cod]
*.sqlite3
.env
media/
staticfiles/
backend/logs/*.log

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
